$main-font: Roboto, sans-serif;
$base-font-size: 10px;
$base-line-height: 14px;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$catalog-columns: 4;
$page-padding: 40px;
$page-title-gap: 40px;
$catalog-gap: 48px;
$page-background-color: #f8fafd;
$card-width: 200px;
$catalog-cards-width: $catalog-columns * $card-width;
$catalog-gaps-width: ($catalog-columns - 1) * $catalog-gap;
$catalog-max-width: $catalog-cards-width + $catalog-gaps-width;
$card-border-width: 1px;
$card-padding-top: 32px;
$card-padding-horizontal: 16px;
$card-padding-bottom: 16px;
$card-image-width: 160px;
$card-image-height: 134px;
$card-image-gap: 40px;
$card-title-font-size: 12px;
$card-title-line-height: 18px;
$card-title-gap: 4px;
$card-code-gap: 16px;
$card-review-gap: 24px;
$card-price-gap: 16px;
$card-price-font-size: 16px;
$card-button-height: 40px;
$card-button-font-size: 14px;
$card-button-line-height: 16px;
$star-size: 16px;
$star-gap: 4px;
$color-background: #fff;
$color-border: #f3f3f3;
$color-button: #00acdc;
$color-main-text: #060b35;
$color-secondary-text: #616070;
$radius-border: 5px;
